body {
background-color: rgb(236, 164, 9);
color:rgb(18, 52, 243);
font-family: Georgia, 'Times New Roman', Times, serif;
max-width: 1200px;
margin: 0 auto;
padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div img {
    border-radius: 30%;
}

li:hover{
    font-size:larger;
    font-weight: 200;
}

input:hover{
    font-size:larger;
    font-weight: 200;
}

#title  {
    flex-direction: column;
    line-height: 10px;
    font-size: 10px;

}


li {
    display: inline-block;
    margin: 20px;
    color: blue;
}

h1 {
    font-weight: 200;
    font-size: 60px;

}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

article img {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    border-radius: 50%;
    position: absolute;
    right: 290px;
    top: 25%
}

input {
    border-radius: 10px;
    border-color: blue;
    width: 150px;
    
}